body{
    background-color: rgb(164, 218, 164);
    margin-left: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    display: inline-block;
    padding: 10px 20px;
    color: green;
    background-color: #fff;
    border: 2px solid greenyellow;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s; 
    margin-left: 630px;
  }
  
  a:hover {
    color: #fff;
    background-color: green;
    border-color: greenyellow;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px); 
    
  }
  